body {
    background-color: #000000;
}

main .personagem {
    display: none;
}

main .personagem.selecionado {
    display: block;
}

main .personagem .imagem {
    width: 100%;
    height: 100%;
}

